<div class="container">
  <div class="row pt-5 align-items-center">
    <div class="col-6 pt-5 offset-md-3 bg-info rounded-5 align-self-center align-middle">
      <div class="row pb-3">
        <div class="col-md-4 offset-md-4 text-center">
          <h2>Idenfique-se</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 align-self-center">
          <%# <form> %>
            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="staticEmail" name="email" placeholder="your-name@domain.com">
              </div>
            </div>

            <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="staticPassword" name="password" placeholder="******">
              </div>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" id="confirm-button" class="btn btn-block btn-primary mb-3">Confirmar</button>
            </div>
          <%# </form> %>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col">
          <hr />
        </div>
        <div class="col-1">
          ou
        </div>
        <div class="col">
          <hr />
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-4 offset-md-3 align-self-center text-center text-center">
          <div id="qr-code-area">
            <img id="qr-code" class="rounded-5" src="#" alt="Qr Code For Auth">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-success alert-dismissible fade show visually-hidden" id="auth-success-alert" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Olá Rafael</strong> parece que você fez sua autenticação através do APP. Redirecionando...
    <div class="spinner-grow text-success" role="status">
      <span class="visually-hidden pt-1">Loading...</span>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var base_url = window.location.host;
    var token = document.querySelector('meta[name="csrf-token"]').content;
    var checkAttempts = 0;

    String.prototype.hashCode = function() {
      var hash = 0, i, chr;
      if (this.length === 0) return hash;
      for (i = 0; i < this.length; i++) {
        chr = this.charCodeAt(i);
        hash = ((hash << 5) - hash) + chr;
        hash |= 0;
      }

      return hash;
    }

    $("#qr-code").attr("src", `https://authenticator-by-qrcode-sample.herokuapp.com/qr_code_download?content=${token.hashCode()}`);
    $("#pre").val(token.hashCode());

    $("#confirm-button").on("click", function() {
      $("#auth-success-alert").removeClass("visually-hidden");
      window.setInterval(function() {
        window.location.replace(`https://authenticator-by-qrcode-sample.herokuapp.com/cars`);
      }, 3000);
    });
  
    window.setInterval(function() {
      if (checkAttempts <= 10) {
        checkAttempts ++;
        $.get(`https://authenticator-by-qrcode-sample.herokuapp.com/remote_ping?token=${token.hashCode()}`, function(data) {
          if (data.message !== 'Permission not found') {
            $("#auth-success-alert").removeClass("visually-hidden");
            window.setInterval(function() {
              window.location.replace(`${base_url}/cars`);
            }, 3000);
          }
        });
      }
    }, 3000);
    
  });
  
</script>
